database/
viewAgent/uploads
controlAgent/users.db
controlAgent/__pycache__
RADAgent/databases
RADAgent/__pycache__
RADAgent/status_database.db
RADAgent/.temp
generationAgent/__pycache__
generationAgent/apiFile.txt