html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e5e5e5;
    transition: background-color 0.3s, color 0.3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfc9df; 
    margin: 0;
    padding: 0;
    position: relative; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    max-width: 1200px;
    max-height: 800px;
    background: #8babf1;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #555555;
    transition: background-color 0.3s, border-color 0.3s;
    overflow: hidden;
    position: relative; 
}

#chat {
    flex: 1;
    overflow-y: auto;
    border: 1px solid  #d9e4ff;
    padding: 15px;
    border-radius: 8px;
    background:  #d9e4ff ;
    transition: background-color 0.3s, border-color 0.3s;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border-bottom: 1px solid #ccc; 
    background: rgba(255, 255, 255, 0.8); 
    line-height: 1.5;
}

.user-message {
    background-color: #cf8341; 
    color: #fff;
    text-align: right;
    border: 1px solid #312142 ;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 1px 0 3px  #312142 ;
}

.response-message {
    background-color: #8babf1; 
    color: #070606;
    border: 1px solid #312142 ;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 1px 0 3px  #312142 ;
}

#input-container {
    display: flex;
    flex-shrink: 0;
    border-top: 1px solid  #edf2fb;
    padding: 10px;
    background: #8babf1;
}

#input-message {
    flex: 1;
    padding: 10px;
    border: 1px solid  #d9e4ff;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 16px;
    background: #d9e4ff ; 
}

#send-button {
    padding: 10px 20px;
    border: none;
    background: #cf8341;
    color:  #d9e4ff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: 1px solid #312142 ;
}

#send-button:hover {
    background:#d17423;
    border: 1px solid #312142 ;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 1px 0 3px  #312142 ;
}

#toggle-dark-mode {
    background-color: #cf8341;
    color: #d9e4ff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    border: 1px solid #312142 ;
}

#toggle-dark-mode:hover {
    background-color: #d17423;
    border: 1px solid #312142 ;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 0 5px  #312142 ;
}

/* Panel de Control */
#control-panel {
    position: fixed;
    top: 0;
    left: -250px; /* Panel oculto por defecto */
    width: 250px;
    height: 100%;
    background-color: #8BABF1;
    color: white;
    transition: left 0.3s ease;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Asegúrate de que el panel esté por encima de otros elementos */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente los botones */
    align-items: center; /* Centrar horizontalmente los botones */
}

.slider-container {
    width: 100%;
    margin-bottom: 20px;
}

#dbSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}

#dbSlider:hover {
    opacity: 1;
}

#dbSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #cf8341;
    cursor: pointer;
    transition: background 0.3s ease;
}

#dbSlider::-webkit-slider-thumb:hover {
    background: #cf8341;
}

#dbSlider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #cf8341;
    cursor: pointer;
    transition: background 0.3s ease;
}

#dbSlider::-moz-range-thumb:hover {
    background: #cf8341;
}

#slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
}

#slider-labels span {
    color: #ddd;
}

/* Estilos para los botones del panel de control en modo claro */
.control-button {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #cf8341; /* Azul en modo claro */
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #312142 ;
}

.control-button:hover {
    background-color: #d17423; 
    border: 1px solid #312142 ;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 2px 0 5px  #312142 ;
}

/* Botón de Despliegue del Panel */
#panel-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #cf8341;
    color: #d9e4ff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 1001;
    transition: background-color 0.3s ease;
    border: 1px solid #312142 ;
}

#panel-toggle:hover {
    background-color: #d17423;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 1px 0 3px  #312142 ;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #1E1E1E;
    color: #e5e5e5;
}

.dark-mode .container {
    background: #2e002d;
    border-color: #110011;
}

.dark-mode #chat {
    background: #570456;
    border-color: #6A0153;
}

.dark-mode .user-message {
    background-color:#e74b02d8;
    color: #fff;
}

.dark-mode .response-message {
    background-color: rgba(46, 46, 46, 0.8); /* Fondo gris oscuro semi-transparente */
    color: #e5e5e5;
}

.dark-mode #input-container {
    background: #2e002d;
    border-top: 1px solid #585858;
}

.dark-mode #input-message {
    border: 1px solid #555;
    background: #1e1e1e;
    color: #e5e5e5;
}

.dark-mode #send-button {
    background: #e74b02d8; 
    color: #fff;
}

.dark-mode #send-button:hover {
    background: #a52727; 
}

.dark-mode #toggle-dark-mode {
    background-color: #e74b02d8; 
}

.dark-mode #toggle-dark-mode:hover {
    background-color: #a52727; 
}

.dark-mode #dbSlider {
    background: #555;
}

.dark-mode #dbSlider::-webkit-slider-thumb {
    background: #e74b02d8;
}

.dark-mode #dbSlider::-moz-range-thumb {
    background: #c92a2a;
}

.dark-mode #panel-toggle {
    background-color: #D1410F;
}

.dark-mode #panel-toggle:hover {
    background-color: #a52727;
}

.dark-mode .control-button {
    background-color: #D1410F; 
}

.dark-mode .control-button:hover {
    background-color: #a52727; 
}

.dark-mode #control-panel {
    background-color: #2e002d; 
    color: #e5e5e5; 
    border-color: #444; 
}
